# Prod
DISCORD_TOKEN= # Your bot token
DISCORD_APP_ID= # Your bot application ID

# Dev
DISCORD_TOKEN_DEV= # Your dev bot token
DISCORD_APP_ID_DEV= # Your dev bot application ID

# Common
DISCORD_GUILD_ID= # Your home guild ID
DISCORD_GUILD_BUGS_CHANNEL_ID= # Your bugs channel ID
MONGO_URI= # Your MongoDB URI
DEVELOPER_IDS= # Your developer ID
NODE_ENV= # Your environment (development or production)

# Mongo-Express
ME_CONFIG_BASICAUTH_USERNAME= # Your Mongo-Express username
ME_CONFIG_BASICAUTH_PASSWORD= # Your Mongo-Express password